<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">NursingTracking-Seguimiento de Enfermería &copy; 2025 - Sistema de Control de Ausencias para Personal de Enfermería</span>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/js/custom.js}"></script>
</footer>
</body>
</html>